body {
    width: 100%;
    background-color: #cccccc;
    text-align: center;
}

.copyRight {
    position: absolute;
    bottom: 8px;
    left: 32px;
}

.swal-button {
    background-color: #ccc;
}

.form-signin, .form-register {
    width: 300px;
    padding: 5px;
    margin: 2px auto;
    text-align: center;
}

.loadingPageLogin {
    margin-top: 16%;
    display: flex;
    justify-content: center;
}

.login-page-text-col {
    justify-self: flex-end;
}

.sign-in-form-col {
        margin-left: 80px;
}

@media screen and (max-width: 576px) {

    .sign-in-form-col {
        margin-top: 32px;
        margin-left: 0;
    }
}
