body {
    margin: 0;
    height: 100%;
    padding-bottom: 20px;
}

.login {
    width: 300px;
    padding: 5px;
    margin: 2px auto;
}

.btn {
    max-width: 100%;
}

body {
    width: 100%;
    /*background-repeat: no-repeat;*/
    background-color: #cccccc;
    /*background-image: url("../img/cyril-saulnier-250098-unsplash.jpg");*/
    /*background-size: cover;*/
    /*height: 100%;*/
}

.copyRight {
    position: absolute;
    bottom: 8px;
    left: 32px;
}

/* .swal-button, .btn-outline {
    opacity: 0.6;
    border: 2px solid #de9391;
}*/

.form-control {
    opacity: 0.9;
}

.loginContent {
    text-align: center;
}

.form-signin, .form-register {
    width: 300px;
    padding: 5px;
    margin: 2px auto;
    text-align: center;
}

.loadingPageLogin {
    max-width: 900px;
    margin: 28% auto;
}

@media screen and (min-width: 375px) {
    body {
        text-align: center;
    }
    form {
        display: inline-block;
    }
    .loadingPageLogin {
}
}
