.card {
    width: 100%;
    margin-top: 16px;
}

.card-text {
    line-height: 0.5;
}

.home-page-container .card-body .card-subtitle {
    margin-bottom: 16px !important;
}

.delete-session-btn {
    margin-left: 8px;
    background-color: #ec5a23b3;
}

.edit-btn {
    background-color: rgb(27,201,215,1);
}

.copy-btn {
    background-color: #cccccc;
    margin-left: 8px;
}