.session-detail-container {
    max-width: 600px;
    margin: 0 auto;
}

.top-bar {
    padding: 16px;
    padding-left: 0;
    text-align: left;
}

.add-exercise-btn {
    margin-top: 16px;
}

.session-name-input {
    margin-right: 8px;
}

.session-name-editing-form {
    margin-bottom: 8px;
}

.back-btn {
    background-color: rgb(27,201,215,1);
}